@font-face {
  font-family: UTMAVO;
  src: url("../fonts/utm-avo.ttf");
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, a:hover, a:active {
  text-decoration: none !important;
}

img {
  max-width: 100%;
}

.card {
  border: none;
  background-color: inherit;
  border-radius: 0;
}

.card .card-body {
  padding: 0;
}

.card .card-footer {
  padding: 0;
  background-color: inherit;
  border: none;
}

#slider2 .carousel-item .edit-slide {
  position: relative;
  width: 100%;
  height: 100vh;
}

#slider2 .carousel-item .edit-slide.slider1, #slider2 .carousel-item .edit-slide.slider2, #slider2 .carousel-item .edit-slide.slider3 {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  -webkit-animation: zoomin 22s ease-in infinite;
          animation: zoomin 22s ease-in infinite;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoomin {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/*End of Zoom in Keyframes */
#footer {
  background-color: #08327E;
  padding: 75px 0;
}

#footer h3.title {
  display: block;
  font-size: 16px;
  line-height: 51.2px;
  margin: 0 0 20px 0;
  padding: 5px 0;
  position: relative;
  text-align: center;
}

#footer h3.title span {
  letter-spacing: 2px;
  color: #fff;
  text-transform: uppercase;
}

#footer h3.title:after {
  background: none repeat scroll 0 0 #fff;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -35px;
  position: absolute;
  width: 70px;
}

#footer .content {
  margin-top: 28px;
}

#footer .content address {
  font-size: 14px;
  line-height: 35px;
  color: #ffffff;
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
}

#footer .content span {
  font-size: 14px;
  line-height: 35px;
  color: #ffffff;
  text-align: center;
  display: block;
}

#footer .logo-footer {
  text-align: center;
}

#footer .logo-footer a {
  display: inline-block;
  padding: 40px 0 26px;
}

#footer .logo-footer a img {
  width: 50%;
}

#footer .logo-footer p {
  font-size: 12px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #ffffff;
}

#footer .social {
  text-align: center;
  margin-top: 40px;
}

#footer .social a {
  display: inline-block;
  width: 48px;
  height: 48px;
  font-size: 18px;
  line-height: 48px;
  color: #fff !important;
  text-align: center;
  border: 1px solid #eaa9bb;
  border-radius: 50%;
  margin: 8px 0 0 8px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 200;
  position: relative;
}

#footer .social a:hover {
  background: #e69aaf;
  border-color: #e69aaf;
  text-decoration: none;
}

#contact {
  text-align: center;
  line-height: 1.5;
  margin-top: 60px;
  font-size: 20px;
  margin-bottom: 60px;
}

#contact p.title {
  text-transform: uppercase;
  font-weight: bold;
}

#contact i {
  color: #08327E;
  margin-right: 5px;
  font-size: 20px;
}

#contact .booking {
  margin-top: 20px;
  text-transform: capitalize;
}

#contact .booking a {
  display: inline-block;
  color: white;
  background-color: #08327E;
  padding: 10px 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#contact .booking a:hover {
  background-color: #ff6d00;
}

.mess_desk_bot {
  position: fixed;
  bottom: 58px;
  right: 27px;
  z-index: 2;
}

.mess_desk_bot a.hotline-master {
  border-top: 2px #00bbff solid;
  background-color: #08327E;
  color: white;
  padding: 7px;
  border-radius: 12px;
  padding-left: 70px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 25px;
}

#menu {
  position: absolute;
  z-index: 99;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#menu.background-menu {
  background-color: rgba(8, 50, 126, 0.8);
  position: fixed;
}

#menu.background-menu .wrap-logo {
  background: transparent !important;
  width: 130px;
  height: 100%;
  margin: 0;
}

#menu.background-menu ul.menu-info {
  padding: 23px 18px 24px;
}

#menu ul.menu-info {
  padding: 90px 0 0 59px;
  list-style: none;
  text-align: center;
}

#menu ul.menu-info li {
  display: inline-block;
}

#menu ul.menu-info li a {
  color: white;
  padding: 23px 10px 24px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 13px;
  font-weight: bold;
}

#menu .wrap-logo {
  -webkit-transition: all 1s;
  transition: all 1s;
  background-color: #08327E;
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 26px 0 0 0;
}

#menu .wrap-logo img {
  width: 80%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.callback {
  position: fixed;
  left: -30px;
  bottom: -20px;
  z-index: 100;
}

.phone_animation {
  background-color: transparent;
  width: 200px;
  height: 200px;
  cursor: pointer;
  z-index: 200000 !important;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -webkit-transition: visibility .5s;
  transition: visibility .5s;
  visibility: visible;
  margin: 0 auto;
}

.phone_animation a {
  color: white;
}

.phone_animation_circle {
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  position: absolute;
  background-color: transparent;
  border-radius: 100%;
  border: 2px solid rgba(30, 30, 30, 0.4);
  opacity: 0.5;
  -webkit-animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
          animation: coccoc-alo-circle-anim 1.2s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  border-color: #00aff2;
}

.phone_animation_circle_fill {
  width: 100px;
  height: 100px;
  top: 50px;
  left: 50px;
  position: absolute;
  background-color: #00aff2;
  border-radius: 100%;
  border: 2px solid transparent;
  opacity: .2;
  -webkit-animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
          animation: coccoc-alo-circle-fill-anim 2.3s infinite ease-in-out;
  -webkit-transition: all .5s;
  transition: all .5s;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}

.phone_animation_circle_fill_img {
  background-size: 70%;
  width: 60px;
  height: 60px;
  top: 70px;
  left: 70px;
  position: absolute;
  border-radius: 100%;
  border: 2px solid transparent;
  -webkit-animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
          animation: coccoc-alo-circle-img-anim 1s infinite ease-in-out;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  background-color: #00afef;
  text-align: center;
  line-height: 60px;
  color: #FFF;
  font-size: 30px;
  display: block;
}

@-webkit-keyframes coccoc-alo-circle-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.5) skew(1deg);
    -webkit-opacity: .1;
  }
  30% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    -webkit-opacity: .5;
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    -webkit-opacity: .1;
  }
}

@-webkit-keyframes coccoc-alo-circle-fill-anim {
  0% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
    opacity: .2;
  }
  100% {
    -webkit-transform: rotate(0) scale(0.7) skew(1deg);
    opacity: .2;
  }
}

@-webkit-keyframes coccoc-alo-circle-img-anim {
  0% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  20% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  30% {
    -webkit-transform: rotate(-25deg) scale(1) skew(1deg);
  }
  40% {
    -webkit-transform: rotate(25deg) scale(1) skew(1deg);
  }
  50% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
  100% {
    -webkit-transform: rotate(0) scale(1) skew(1deg);
  }
}

.m-category-layout {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.m-category-layout .m-item-category {
  -ms-flex-preferred-size: 160px !important;
      flex-basis: 160px !important;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #e0e0e0;
  border-right: 1px solid #e0e0e0;
}

.m-category-layout .m-item-category .img-category {
  height: 88px;
  width: 88px;
  margin: auto auto 12px;
  border-radius: 50%;
  margin-top: 20px;
}

.m-category-layout .m-item-category .m-item-category-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.m-category-layout .m-item-category .m-item-category-0 a {
  text-align: center;
}

.m-category-layout .m-item-category .m-item-category-0 a span {
  width: 100%;
  display: block;
}

@media screen and (max-width: 768px) {
  .m-category-layout {
    margin-top: 30px;
  }
}

/* Sidebar
-----------------------------------------------------------------------------------------*/
.menusign {
  display: block;
  width: 10px;
  line-height: .3;
  font-size: 2em;
  margin: .5em;
}

.menusign br {
  height: 0;
}

.sidebar {
  position: fixed;
  z-index: 9999999;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: white;
  -webkit-transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, -webkit-box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s;
  transition: left 0.3s ease, box-shadow 0.3s ease 0.2s, -webkit-box-shadow 0.3s ease 0.2s;
  -webkit-box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
  box-shadow: 0.5em 0 0 0 #f2b142, 0.6em 0 0 0 #f2b142;
}

.sidebar.closed {
  left: -260px;
  -webkit-box-shadow: 0 0 0 #1ba8ff;
  box-shadow: 0 0 0 #1ba8ff;
}

.sidebar h2 {
  padding: .5em;
  color: #1abc9c;
}

.sidebar ul {
  padding: 0;
  padding-top: 50px;
  padding-bottom: 30px;
  margin: 0;
}

.sidebar ul li {
  width: 90%;
  margin: 5px 10px;
  display: inline-block;
  margin-bottom: 0;
  font-weight: bolder;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 1.8;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #f3f3f3;
}

.sidebar .sidebar-sub-heading {
  border-top: 1px solid #e0e0e0;
  color: #757575;
  display: block;
  padding: 16px;
  font-size: 16px;
  font-weight: bolder;
}

.sidebar .sidebar-hotline {
  font-size: 16px;
  font-weight: bolder;
  padding: 16px;
  color: #757575;
}

.sidebar .sidebar-hotline .sidebar-number {
  color: #1ba8ff;
}

.sidebar .icon-sidebar {
  width: 56px;
}

.sidebar ul li a {
  color: #757575;
  text-decoration: none;
}

.sidebar .background-sidebar {
  background-image: url(../images/logo/logo_footer.png);
  height: calc(56px*4);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-color: white;
}

.footer a {
  color: #17a689;
}

/* Blurred class

This class is added to the container
(#blurMe) when the sidebar is open.
-----------------------------------*/
.blurred {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

/* Logo effect
-----------------------------*/
@-webkit-keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

@keyframes blur {
  66% {
    -webkit-filter: blur(1px);
    filter: blur(1px);
    -webkit-filter: url(#blurLogo);
    filter: url(#blurLogo);
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='1');
  }
}

#h_1 {
  background-color: #08327E;
  padding: 60px 0;
}

#h_1 .one-item {
  width: 120px;
  height: 120px;
  border: 1px solid #00afef;
  border-radius: 50%;
  text-align: center;
  padding: 28px 0 0 0;
}

#h_1 .one-item span.days {
  font-size: 25px;
  line-height: 33px;
  color: white;
}

#h_1 .one-item p.time-count-down {
  font-size: 11px;
  line-height: 24px;
  color: white;
  text-transform: uppercase;
}

#h_1 .info-group i {
  float: right;
  color: white;
  font-size: 42px;
  line-height: 50.4px;
  padding: 25px 0 0;
  display: block;
}

#h_1 .info-group .info {
  padding-right: 28px;
  font-size: 14px;
  line-height: 30.8px;
  color: white;
  letter-spacing: 2px;
  text-transform: uppercase;
  float: right;
}

#h_1 .info-group .info span {
  font-size: 20px;
  line-height: 34px;
  color: #fff;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  #h_1 .one-item {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  #h_1 .info-group {
    text-align: center;
  }
}

#h_2 .info {
  padding: 100px 0;
}

#h_2 .info h1.title {
  line-height: 50px;
  font-size: 22px;
  color: #08327E;
  letter-spacing: 0.25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#h_2 .info p.sub-intro {
  font-size: 11px;
  letter-spacing: 2px;
  text-align: center;
  color: #08327E;
  text-transform: uppercase;
  line-height: 48px;
  font-weight: bold;
  padding: 10px 50px;
}

#h_2 .info p.sub-intro:before, #h_2 .info p.sub-intro:after {
  display: inline-block;
  position: relative;
  top: -7px;
  content: "";
  width: 50px;
  height: 0px;
  border: 1px solid #e8dcdb;
  -webkit-transform: scaleY(0.5);
          transform: scaleY(0.5);
}

#h_2 .info p.sub-intro:before {
  right: 20px;
}

#h_2 .info p.sub-intro:after {
  left: 20px;
}

#h_2 .info p.content {
  font-size: 18px;
  letter-spacing: 0.1px;
  text-align: center;
  color: #252019;
  line-height: 30px;
  padding: 20px 20px;
}

#h_2 .info .bottom {
  text-align: center;
}

#h_2 .info .bottom img {
  width: auto;
}

#h_2 img.img-h_2 {
  height: auto;
}

@media (max-width: 767px) {
  #h_2 .info {
    padding: 50px 0;
  }
  #h_2 .info p.sub-intro {
    padding: 0;
  }
  #h_2 .info p.sub-intro:before, #h_2 .info p.sub-intro:after {
    width: 0;
  }
}

#h_3 {
  background-color: #f6f6f6;
  padding-bottom: 33px;
}

#h_3 h3.title {
  font-size: 30px;
  line-height: 54.4px;
  color: #08327E;
  position: relative;
  padding: 18px 0 0;
  margin: 0 0 19px 0;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#h_3 h3.title:after {
  width: 70px;
  height: 2px;
  background: #08327E;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
  content: '';
}

#h_3 h4.title-service {
  display: block;
  font-size: 17px;
  letter-spacing: 3px;
  line-height: 54.4px;
  padding: 0 0 6px;
  position: relative;
  text-align: center;
  color: #08327E;
  font-weight: bold;
}

#h_3 .image-cover {
  width: 100%;
  height: 300px;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#h_3 .image-cover img {
  width: 100%;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#h_3 .image-cover:hover img {
  -webkit-animation: zoominh3 10s ease-in infinite;
          animation: zoominh3 10s ease-in infinite;
}

#h_3 p {
  display: block;
  font-size: 12px;
  letter-spacing: 0.4px;
  line-height: 24px;
  margin: 0;
  padding: 30px 10px 50px;
  position: relative;
  text-align: center;
  color: black;
  background: #fff;
}

@-webkit-keyframes zoominh3 {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(1.5) rotate(20deg);
            transform: scale(1.5) rotate(20deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

@keyframes zoominh3 {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
  50% {
    -webkit-transform: scale(1.5) rotate(20deg);
            transform: scale(1.5) rotate(20deg);
  }
  100% {
    -webkit-transform: scale(1) rotate(0deg);
            transform: scale(1) rotate(0deg);
  }
}

#h_4 img.img-intro {
  width: 50%;
  height: auto;
  margin: 0 auto;
  display: block;
}

#h_4 h3.title {
  display: block;
  font-size: 17px;
  letter-spacing: 3px;
  line-height: 34.4px;
  margin: 0 0 28px;
  padding: 0 0 26px;
  position: relative;
  text-align: center;
  color: #212121;
}

#h_4 h3.title p {
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

#h_4 h3.title span {
  color: #08327E;
  font-size: 30px;
}

#h_4 h3.title:after {
  background: none repeat scroll 0 0 #08327E;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -35px;
  position: absolute;
  width: 70px;
}

#h_4 .one-item {
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: inherit;
  width: 100%;
  height: 378px;
}

#h_4 .one-item:before {
  -webkit-transition: all 1s;
  transition: all 1s;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #08327E;
  content: '';
  z-index: 1;
  opacity: 0;
}

#h_4 .one-item:hover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#h_4 .one-item:hover:before {
  opacity: 1;
}

#h_4 .one-item:hover .image-item {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

#h_4 .one-item:hover .content i {
  -webkit-animation: slideInUp 1s;
          animation: slideInUp 1s;
  opacity: 1;
}

#h_4 .one-item:hover .content h3.title {
  -webkit-animation: slideInUp 1s;
          animation: slideInUp 1s;
  opacity: 1;
}

#h_4 .one-item:hover .content .time-wedding {
  -webkit-animation: slideInUp 1s;
          animation: slideInUp 1s;
  opacity: 1;
}

#h_4 .one-item .image-item {
  -webkit-transition: all 1s;
  transition: all 1s;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 378px;
}

#h_4 .one-item .content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

#h_4 .one-item .content i {
  font-size: 24px;
  line-height: 28.8px;
  color: white;
  opacity: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#h_4 .one-item .content h3.title {
  font-size: 24px;
  line-height: 40px;
  padding: 5px 0 0;
  opacity: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#h_4 .one-item .content h3.title a {
  color: white;
}

#h_4 .one-item .content .time-wedding {
  opacity: 0;
  -webkit-transition: all 2s;
  transition: all 2s;
}

#h_4 .one-item .content .time-wedding span {
  font-size: 12px;
  color: white;
  line-height: 24px;
}

#h_5 {
  padding: 100px 0;
  border-top: 1px solid #e0e0e0;
  padding-top: 200px;
  padding-bottom: 200px;
}

#h_5 .s4-info {
  text-align: center;
}

#h_5 .s4-info h3 {
  font-size: 35px;
  margin-bottom: 5px;
  margin-bottom: 5px;
}

#h_5 .s4-info p {
  font-size: 18px;
  margin-bottom: 30px;
  line-height: 1.6;
}

#h_5 .s4-info a {
  padding: 10px 20px 10px 20px;
  border: 1px solid #08327E;
  color: #08327E;
  text-transform: uppercase;
  font-weight: bolder;
}

#h_5 .s4-info a:hover {
  background-color: #08327E;
  color: white;
}

#h_5 .s4-baloon ul.s4-baloon-wrap {
  position: relative;
  list-style: none;
}

#h_5 .s4-baloon ul.s4-baloon-wrap li {
  position: absolute;
  border-radius: 5px;
  padding: 25px 25px 60px 25px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  background: linear-gradient(45deg, #DCDCDC, #FFFFFF, #DEDEDE);
  -webkit-animation: balloons 4s ease-in-out infinite;
          animation: balloons 4s ease-in-out infinite;
}

#h_5 .s4-baloon ul.s4-baloon-wrap li img {
  width: 300px;
}

@-webkit-keyframes balloons {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

@keyframes balloons {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-25px);
            transform: translateY(-25px);
  }
}

#h_5 .s4-baloon ul.s4-baloon-wrap li:first-child {
  left: -19px;
  bottom: -190px;
}

#h_5 .s4-baloon ul.s4-baloon-wrap li:nth-child(2) {
  right: 79px;
  bottom: -317px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#h_5 .s4-baloon ul.s4-baloon-wrap li:last-child {
  right: -29px;
  bottom: -112px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#h_6 {
  position: relative;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  padding: 120px 0;
  z-index: 1;
}

#h_6:after {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  width: 100%;
  position: absolute;
  content: "";
  right: 0;
  top: 0;
}

#h_6 .content {
  position: relative;
  z-index: 2;
}

#h_6 .content p {
  text-align: center;
  color: white;
  font-size: 35px;
}

#h_7 {
  padding: 18px 0;
}

#h_7 h3.title {
  font-size: 30px;
  line-height: 54.4px;
  color: #08327E;
  position: relative;
  padding: 8px 0;
  margin: 0 0 49px 0;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#h_7 h3.title:after {
  width: 70px;
  height: 2px;
  background: #08327E;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
  content: '';
}

#h_7 .info .one-item h2.title {
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 34px 0 10px;
  position: relative;
  color: #202020;
  letter-spacing: 3px;
}

#h_7 .info .one-item h2.title a {
  text-decoration: none;
  color: #202020;
  text-transform: uppercase;
}

#h_7 .info .one-item .bottom a {
  color: #666666;
}

#h_7 .info .one-item .bottom a p {
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 10px 0 0;
}

#h_8 .video-wrap {
  position: relative;
}

#h_8 .video-wrap #sea {
  width: 100%;
  height: auto;
}

#h_8 .video-wrap .description {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50%;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  mix-blend-mode: darken;
}

#h_8 .video-wrap .description h2 {
  text-transform: uppercase;
  color: transparent;
  font-weight: 600;
  text-shadow: 0 1px 10px #08327E;
  font-size: 100px;
  color: white;
}

@media (max-width: 767px) {
  #h_8 .video-wrap .description h2 {
    font-size: 24px;
  }
}

#h_9 {
  margin-bottom: 60px;
}

#h_9 h3.title {
  font-size: 17px;
  line-height: 54.4px;
  color: #08327E;
  font-weight: bold;
  position: relative;
  padding: 8px 0;
  margin: 0 0 49px 0;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#h_9 h3.title:after {
  width: 70px;
  height: 2px;
  background: #08327E;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
  content: '';
}

#h_9 .info {
  margin-bottom: 100px;
}

#h_9 .info .info-left img, #h_9 .info .info-right img {
  padding-top: 40%;
}

#h_9 .info .info-left .info-content h4, #h_9 .info .info-right .info-content h4 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
  color: #08327E;
  padding: 30px 0;
  text-transform: uppercase;
}

#h_9 .info .info-left .info-content span, #h_9 .info .info-right .info-content span {
  line-height: 1.5;
}

#h_9 .info .info-center {
  position: relative;
}

#h_9 .info .info-center img {
  position: absolute;
  left: -20%;
  right: -20%;
  top: 0;
  max-width: 140%;
  z-index: 3;
}

#h_9 .content .title {
  text-align: center;
  font-size: 30px;
  color: #08327E;
  margin-bottom: 40px;
}

#h_9 .content .description {
  line-height: 1.5;
  margin-bottom: 30px;
}

#h_9 .contact {
  text-align: center;
}

#h_9 .contact a {
  background-color: #08327E;
  padding: 10px 30px;
  border-radius: 20px;
  color: white;
  text-transform: uppercase;
}

@media (max-width: 767px) {
  #h_9 .info {
    margin-bottom: 20px;
  }
  #h_9 .info .info-left .info-content h4, #h_9 .info .info-right .info-content h4 {
    font-size: 14px;
  }
  #h_9 .content .title {
    font-size: 24px;
    line-height: 1.3;
  }
}

#h_10 h3.title {
  font-size: 30px;
  line-height: 54.4px;
  color: #08327E;
  position: relative;
  padding: 8px 0;
  margin: 23px 0 49px 0;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#h_10 h3.title:after {
  width: 70px;
  height: 2px;
  background: #08327E;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -35px;
  content: '';
}

#h_10 .one-item .image-item a {
  display: block;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4px solid #08327E;
}

#h_10 .one-item .content h4 {
  text-align: center;
  line-height: 1.5;
  padding: 15px 0;
  position: relative;
}

#h_10 .one-item .content h4:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: #08327E;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  bottom: 0;
}

#h_10 .one-item .content h4 a {
  color: #08327E;
}

#h_10 .one-item .content .description {
  line-height: 1.5;
  margin-top: 11px;
}

#al_1 .main-img img {
  width: 100%;
  height: auto;
}

#al_1 .main-title {
  background-color: #f4f4f4;
}

#al_1 .main-title .icon-title {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  height: 21px;
}

#al_1 .main-title h1 {
  text-align: center;
  line-height: 30px;
  color: #08327E;
  text-transform: Capitalize;
  font-size: 36px;
  padding: 15px 0px 15px 0px;
}

#al_1 .description {
  line-height: 1.5;
  margin: 40px 0;
}

#al_1 .info {
  line-height: 1.5;
  margin-bottom: 20px;
}

#al_1 .album .grid-sizer, #al_1 .album .grid-item {
  width: 33.333%;
}

#al_1 .album .grid-item {
  float: left;
}

#al_1 .album .grid-item a.fancybox:focus {
  outline: none;
}

#al_1 .album .grid-item a.fancybox img {
  display: block;
  max-width: 100%;
  padding: 10px;
  border-radius: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#al_1 .album .grid-item a.fancybox img:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
          box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
  padding: 0px;
}

#al_1 .other {
  padding: 60px 0;
}

#al_1 .other h4 {
  color: #08327E;
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9dcdd;
  padding-bottom: 10px;
}

#al_1 .other .one-item {
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#al_1 .other .one-item:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
          box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
}

#al_1 .other .one-item .img-cover a img {
  border-radius: 20px 20px 0 0;
}

#al_1 .other .one-item span.title {
  display: block;
  padding: 20px;
}

#co_1 .main-img img {
  width: 100%;
}

#co_1 .main-title {
  background-color: #f4f4f4;
  margin-bottom: 60px;
}

#co_1 .main-title .icon-title {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  height: 21px;
}

#co_1 .main-title h1 {
  text-align: center;
  line-height: 30px;
  color: #08327E;
  text-transform: uppercase;
  font-size: 36px;
  padding: 15px 0px 15px 0px;
}

#co_1 .location {
  background-color: #08327E;
  padding: 20px 0;
  margin-bottom: 60px;
}

#co_1 .location .text-name {
  color: white;
  border-right: 1px solid white;
  line-height: 2.5;
  text-transform: uppercase;
}

#co_1 .location ul.list-location {
  -webkit-columns: 3;
          columns: 3;
  list-style-type: disc;
  list-style-position: inside;
}

#co_1 .location ul.list-location li {
  display: block;
}

#co_1 .location ul.list-location li a {
  color: white;
  padding: 0;
  font-size: 14px;
  line-height: 2.5;
  font-weight: bold;
}

#co_1 .list-album .album .grid-sizer, #co_1 .list-album .album .grid-item {
  width: 50%;
}

#co_1 .list-album .album .grid-item {
  float: left;
  padding: 15px;
}

#co_1 .list-album .album .grid-item a .border-hover {
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 2;
}

#co_1 .list-album .album .grid-item a .border-hover img {
  display: block;
  max-width: 100%;
  padding: 10px;
  border-radius: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#co_1 .list-album .album .grid-item a .border-hover .title {
  position: absolute;
  left: 10%;
  bottom: 22%;
  font-size: 30px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
}

#co_1 .list-album .album .grid-item a .border-hover:after {
  content: '';
  border: 1em solid #fff;
  position: absolute;
  top: 2em;
  left: 2em;
  right: 2em;
  bottom: 2em;
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  will-change: transform, opacity;
  transition: opacity .4s, -webkit-transform .33s;
  -webkit-transition: opacity .4s, -webkit-transform .33s;
  transition: transform .33s, opacity .4s;
  transition: transform .33s, opacity .4s, -webkit-transform .33s;
  -webkit-transition-delay: 50ms;
          transition-delay: 50ms;
  opacity: 0;
  z-index: 1;
}

#co_1 .list-album .album .grid-item a .border-hover:hover img {
  padding: 0px;
}

#co_1 .list-album .album .grid-item a .border-hover:hover:after {
  opacity: 1;
  top: 0em;
  left: -1em;
  right: -1em;
  bottom: 0em;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#co_1 .list-album .one-item {
  position: relative;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#co_1 .list-album .one-item:hover {
  -webkit-transform: translate(0px, -25px);
          transform: translate(0px, -25px);
  -webkit-box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
          box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
}

#co_1 .list-album .one-item a.img-item {
  display: block;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  width: 100%;
  height: 255px;
  border-radius: 10px 10px 0 0;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

#co_1 .list-album .one-item .content h4 {
  text-align: center;
  font-size: 24px;
  padding: 20px 0;
}

#co_1 .list-album .one-item .content h4 a {
  color: #08327E;
}

#co_1 .list-album .one-item .plan-box {
  z-index: 1;
  background-color: inherit;
  border-radius: 0 0 10px 10px;
}

#co_1 .list-album .one-item .plan-box:before {
  left: 5px;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
}

#co_1 .list-album .one-item .plan-box:after {
  right: 5px;
  -webkit-transform: rotate(3deg);
          transform: rotate(3deg);
}

#co_1 .list-album .one-item .plan-box .inner {
  position: relative;
  background: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
  border-radius: 0 0 10px 10px;
}

#co_1 .list-album .one-item .plan-box .inner h3.title {
  padding: 20px;
  font-size: 24px;
}

#co_1 .list-album .one-item .plan-box .inner h3.title a {
  color: #08327E;
}

#pr_1 .main-img img {
  width: 100%;
}

#pr_1 .main-title {
  background-color: #f4f4f4;
}

#pr_1 .main-title .icon-title {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  height: 21px;
}

#pr_1 .main-title h1 {
  text-align: center;
  line-height: 30px;
  color: #08327E;
  text-transform: uppercase;
  font-size: 36px;
  padding: 15px 0px 15px 0px;
}

#pr_1 .info .one-item {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

#pr_1 .info .one-item:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
          box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
}

#pr_1 .info .one-item .img-item {
  height: auto;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#pr_1 .info .one-item .plan {
  padding: 20px;
}

#pr_1 .info .one-item .plan h4.title {
  font-size: 20px;
  height: 35px;
  text-transform: uppercase;
  color: #08327E;
  font-weight: bold;
}

#pr_1 .info .one-item .plan p.price {
  line-height: 2.5;
}

#pr_1 .info .one-item .plan p.price span {
  font-size: 36px;
}

#pr_1 .info .one-item .plan p.detail {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  margin-bottom: 20px;
}

#pr_1 .info .one-item .plan .content h5 {
  margin-bottom: 21px;
  font-size: 16px;
  font-weight: bold;
}

#pr_1 .info .one-item .plan .content ul {
  list-style: none;
}

#pr_1 .info .one-item .plan .content ul li {
  line-height: 1.5;
  position: relative;
}

#pr_1 .info .one-item .plan .content ul li:before {
  content: '';
  width: 2px;
  height: 16px;
  position: absolute;
  top: 5px;
  left: -11px;
  background-color: #333333;
}

#pr_1 .info .one-item .booking {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
}

#pr_1 .info .one-item .booking a {
  display: inline-block;
  color: white;
  background-color: #08327E;
  padding: 10px 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#pr_1 .info .one-item .booking a:hover {
  background-color: #ff6d00;
}

#pl_modal_register .modal-dialog .modal-content .modal-body select[name='register_type'] {
  width: 100%;
  padding: .375rem .75rem;
  font-size: 1rem;
  margin-bottom: 5px;
  border: 1px solid #ced4da;
}

#pl_modal_register .modal-dialog .modal-content .modal-body input {
  border-radius: 0;
  margin-bottom: 5px;
}

#cont_1 .main-img img {
  width: 100%;
  height: auto;
}

#cont_1 .main-title {
  background-color: #f4f4f4;
  margin-bottom: 60px;
}

#cont_1 .main-title .icon-title {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  height: 21px;
}

#cont_1 .main-title h1 {
  text-align: center;
  line-height: 30px;
  color: #968266;
  text-transform: Capitalize;
  font-size: 36px;
  padding: 15px 0px 15px 0px;
}

#cont_1 .contact_top {
  line-height: 1.5 !important;
}

#cont_1 .contact_top h3.title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

#cont_1 .contact_top p {
  margin-bottom: 20px;
  line-height: 1.5;
}

#cont_1 .contact_top h4 {
  font-size: 20px;
  color: #0d51db;
  margin-bottom: 20px;
}

#cont_1 .contact_top ul {
  list-style: none;
}

#cont_1 .contact_top ul li i {
  margin-right: 10px;
}

#cont_1 .contact_top ul li span {
  font-weight: bold;
}

#cont_1 .contact_bottom .input-group {
  margin-bottom: 20px;
}

#cont_1 .contact_bottom .input-group input, #cont_1 .contact_bottom .input-group textarea {
  border-radius: inherit;
}

#cont_1 .contact_bottom button {
  border-radius: inherit;
  background-color: #0d51db;
  color: white;
  font-weight: bold;
}

#cont_1 .contact_bottom button .successSending, #cont_1 .contact_bottom button .loadingSending {
  margin-left: 5px;
}

@media (max-width: 575.98px) {
  #cont_1 .contact_top {
    margin-top: 20px;
  }
  #cont_1 .contact_bottom .button-group {
    text-align: center;
  }
}

#po_1 .main-img img {
  width: 100%;
  height: auto;
}

#po_1 .main-title {
  background-color: #f4f4f4;
}

#po_1 .main-title .icon-title {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  height: 21px;
}

#po_1 .main-title h1 {
  text-align: center;
  line-height: 30px;
  color: #968266;
  text-transform: Capitalize;
  font-size: 36px;
  padding: 15px 0px 15px 0px;
}

#po_1 .description {
  margin: 40px 0;
  line-height: 1.5;
}

#po_1 .content {
  line-height: 1.5;
}

#po_1 .other {
  padding: 60px 0;
}

#po_1 .other h4 {
  color: #08327E;
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9dcdd;
  padding-bottom: 10px;
}

#po_1 .other .one-item h2.title {
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 34px 0 10px;
  position: relative;
  color: #202020;
  letter-spacing: 3px;
}

#po_1 .other .one-item h2.title a {
  text-decoration: none;
  color: #202020;
  text-transform: uppercase;
}

#po_1 .other .one-item .bottom a {
  color: #666666;
}

#po_1 .other .one-item .bottom a p {
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  padding: 10px 0 0;
}

#po_1 .album {
  padding: 60px 0;
}

#po_1 .album h4 {
  color: #08327E;
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9dcdd;
  padding-bottom: 10px;
}

#po_1 .album .one-item {
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#po_1 .album .one-item:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
          box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
}

#po_1 .album .one-item .img-cover a img {
  border-radius: 20px 20px 0 0;
}

#po_1 .album .one-item span.title {
  display: block;
  padding: 20px;
}

#dp_1 .main-img img {
  width: 100%;
  height: auto;
}

#dp_1 .main-title {
  background-color: #f4f4f4;
}

#dp_1 .main-title .icon-title {
  background-position: center center !important;
  background-repeat: no-repeat !important;
  height: 21px;
}

#dp_1 .main-title h1 {
  text-align: center;
  line-height: 30px;
  color: #08327E;
  text-transform: Capitalize;
  font-size: 36px;
  padding: 15px 0px 15px 0px;
}

#dp_1 .info .one-item {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
}

#dp_1 .info .one-item:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
          box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
}

#dp_1 .info .one-item .img-item {
  height: auto;
  overflow: hidden;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#dp_1 .info .one-item .plan {
  padding: 20px;
}

#dp_1 .info .one-item .plan h4.title {
  font-size: 20px;
  height: 35px;
  text-transform: uppercase;
  color: #08327E;
  font-weight: bold;
}

#dp_1 .info .one-item .plan p.price {
  line-height: 2.5;
}

#dp_1 .info .one-item .plan p.price span {
  font-size: 36px;
}

#dp_1 .info .one-item .plan p.detail {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
  margin-bottom: 20px;
}

#dp_1 .info .one-item .plan .content h5 {
  margin-bottom: 21px;
  font-size: 16px;
  font-weight: bold;
}

#dp_1 .info .one-item .plan .content ul {
  list-style: none;
}

#dp_1 .info .one-item .plan .content ul li {
  line-height: 1.5;
  position: relative;
}

#dp_1 .info .one-item .plan .content ul li:before {
  content: '';
  width: 2px;
  height: 16px;
  position: absolute;
  top: 5px;
  left: -11px;
  background-color: #333333;
}

#dp_1 .info .one-item .booking {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
  text-transform: capitalize;
}

#dp_1 .info .one-item .booking a {
  display: inline-block;
  color: white;
  background-color: #08327E;
  padding: 10px 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#dp_1 .info .one-item .booking a:hover {
  background-color: #ff6d00;
}

#dp_1 .other {
  padding: 60px 0;
}

#dp_1 .other h4 {
  color: #08327E;
  font-size: 16px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9dcdd;
  padding-bottom: 10px;
}

#dp_1 .other .one-item {
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#dp_1 .other .one-item:hover {
  -webkit-box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
          box-shadow: 0 10px 30px 0 rgba(58, 87, 135, 0.58);
}

#dp_1 .other .one-item .img-cover a img {
  border-radius: 20px 20px 0 0;
}

#dp_1 .other .one-item span.title {
  display: block;
  padding: 20px;
}
