#al_1 {
  img.main-img {
    width: 100%;
    height: auto;
  }
  .title{
    background-color: #f4f4f4;
    .icon-title{
      background-position: center center!important;
      background-repeat: no-repeat!important;
      height: 21px;
    }
    h1{
      text-align: center;
      line-height: 30px;
      color: #968266;
      text-transform: Capitalize;
      font-size: 36px;
      padding: 15px 0px 15px 0px;
    }
  }
  .description{
    line-height: 1.5;
    margin: 40px 0;
  }
}